body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: pink;
}

.form {
  background-color: white;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
}

button {
  background-color: #fa2828;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.form input {
  display: block;
  width: 100%;
  padding: 5px;
  margin: 5px 0;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="submit"] {
  border: none;
  background-color: rgb(65, 82, 234);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

#eventsContainer {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  width: 500px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* .event {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  background-color: #f1f1f1;
} */

.event {
  border: solid 1px black;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event .days .days-number {
  font-size: 30px;
  font-weight: bold;
  display: block;
}

.event .event-name {
  padding: 15px;
  width: 200px;
}

.event .event-date {
  padding: 10px;
  width: 100px;
}




